ul {
  list-style: none;
  padding: 0;
}

.container {
  border: 2px solid #fff;
  border-radius: 40px;
  color: #fff;
  width: 675px;
  max-width: 100%;
  margin-top: 60px;
  margin-bottom: 10px;
  padding: 0 15px 25px 15px;
  background-image: linear-gradient(
    to top,
    #0c3483 0%,
    #a2b6df 100%,
    #6b8cce 100%,
    #a2b6df 100%
  );
}
.col-8 {
  padding: 0 20px 0 20px;
}
.col-4 {
  width: 160px;
  margin-left: 10px;
  padding: 0 15px 0 0;
}

.search-form {
  margin-bottom: 15px;
  padding: 0 50px 0 75px;
  margin-left: 95px;
  margin-right: 50px;
  position: relative;
  top: 70px;
  left: 85px;
}

.search-button {
  margin: 0;
  width: 65px;
}

#current-city {
  font-size: 35px;
}

.position-emoji {
  font-size: 30px;
}

.current-daytime {
  font-size: 28px;
}

.weather-forecast {
  margin-top: 85px;
  padding: 0 0 0 30px;
  width: 250px;
}

#days,
#humidity,
#wind,
.wind,
.humidity,
.max-temperature,
.min-temperature {
  font-size: 18px;
}

.current-temperature,
.degrees {
  font-size: 38px;
}

.min-temperature {
  opacity: 0.8;
}

.currentcity-weather {
  width: 230px;
}

.current-weather {
  margin-top: 15px;
}

.currentweather-details {
  padding: 15px 0 0 0;
}

.current-city,
.current-date,
.current-temperature,
.degrees,
.currentweather-details,
.search-form,
.weather-forecast,
.max-temperature,
.min-temperature,
.coder {
  font-family: "Barlow", sans-serif;
}

.coder {
  font-size: 15px;
  text-align: center;
}
